<?php

use NBerces\PHPCSFixerConfig\Config;
use PhpCsFixer\Finder;

$finder = Finder::create()
    ->exclude('vendor')
    ->in(__DIR__);

$config = new Config();
$config->setFinder($finder);

return $config;
